<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I Choose Who?</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to I Choose Who?</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/mypokollection">My Pokollection</a>
    <a href="/recommendations">Get Recommendations</a>
    <a href="/login">Login/Logout</a>
  </nav>
  <main>
    <aside>
      <h2>ASIDE</h2>
    </aside>
    <div>
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>