<div class="container">
      <h1 class="title">
        <img src="./img/logo_hollow.png" alt="I Choose Who?">
      </h1>
      <p class="subtitle">
        Your helpful advisor for Pokémon Go battles!
      </p>
      <p class="content">
        Ever fight a Team GO Rocket Leader again and again only to lose each time. Then you check out the type tips in
        the app, but you don't know which Pokémon are which type? This app is for you!
      </p>
      <section class="box">
        <h2 class="title">
          How to use this site?
        </h2>
        <h3 class="title is-4">Getting Started</h3>
        <p class="content">
          To get started, create an account with your email address, then head over to <span class="has-text-primary">My Pokollection</span> and register the Pokémon that you have in you Pokémon Go collection.
        </p>
        <h3 class="title is-4">Getting Recommendations</h3>
        <p class="content">
          After you have registered Pokémon in your collection, click on <span class="has-text-primary">Get Recomendations</span> and put in the type or the specific Pokémon used by your opponent. Then, just click the submit button to get recommendations based on your collection and favorites within the collection.
        </p>
      </section>
    </div>