<div class="columns is-centered">

  <div class="column card is-one-quarter mx-2">
    <h2 class="title">Log in</h2>
    <form>
      <div>
        <label for="email-login">Email:</label><br>
        <input class="input" type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login">Password:</label><br>
        <input class="input" type="password" id="password-login" />
      </div>
      <div class="mt-2">
        <button class="button is-fullwidth is-primary" type="submit" id="login-btn">Log in</button>
      </div>
    </form>
  </div>

  <div class="column card is-one-quarter mx-2">
    <h2 class="title">Sign up</h2>
    <form>
      <div>
        <label for="email-signup">Email:</label><br>
        <input class="input" type="text" id="email-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label><br>
        <input class="input" type="password" id="password-signup" />
      </div>
      <div class="mt-2">
        <button class="button is-fullwidth is-primary" type="submit" id="signup-btn">Sign up</button>
      </div>
    </form>
  </div>
  
</div>

<script src="./js/login.js"></script>